<div class="md:flex flex-col md:flex-row md:min-h-screen w-full fixed ">
  <!-- sidebar -->
  <div class="px-24 ">
 <div  class=" w-full text-blue font-white bg-gradient-to-r from-green-400 to-blue-500 text-2xl"><%=@pet.name.capitalize%></div>
  <div class="block p-3 text-black font-white bg-white shadow-2xl ">
   <a href="#" class=" ml-2 mr-12 hover:underline">Matches</a>
  </div>

    <nav>
      
    </nav>
  </div>
</div>