
<body class = "bg-blue-200">
<div class="grid grid-cols-3">
<%=render 'sidebar'%>


<div class = "col-span-2 mt-10">
<div class =" sm:w-full md:w-10/12">
 <div class = "flex lg:justify-start flex-wrap">
 <% @pets.each do |pet| %>
 <div class = "flex-initial mr-3 w-40 mb-3 rounded-xl">
      <% if pet.images? %>
  <% pet.images.each_with_index do |img, i| %>
  <%=image_tag(img.thumb.url, alt:pet.name, :class => "object-fill h-32 w-full opacity-80 rounded-xl") if i==0 %> 
   <div class = " flex items-center justify-center">
   <%=link_to pet.name.downcase.capitalize(), pet_path(pet) if i==0%>
   </div>
  <% end %>
 
    </div>
<% end %>
    <% end %>
    <div class ="cursor-pointer bg-gray border-4 h-32 w-40 flex items-center justify-center rounded-xl">
 <%= link_to new_pet_path do %>
<svg xmlns="http://www.w3.org/2000/svg" class="h-32 w-32" fill="none" viewBox="0 0 24 24" stroke="blue">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
</svg>

<%end%>
 </div>
 </div>
</div>
</div>
</body>
