<%= render 'shared/header'%>


<body class="antialiased bg-blue-200">
<div class="sm:grid md:grid grid-cols-2 gap-4">
  <div class = "px-16 my-20"> 
  <h1 class = "font-bold italic text-6xl text-gray-700 text-bold text-center font-serif">
   Studmate
  </h1>
  <br/>
  <p class = "text-7xl text-center font italic font-serif">
  <span class = "text-red-700">Select the best </span><br/><span class = "text-red-300">Mate</span><br/><span class = "text-red-400">for Your Pets</span>
   </p>
  </div>
 <div class="px-16 my-16">
    <div class="max-w-4xl rounded-2xl  flex flex-wrap content-center" >
    <%=image_tag("logo_pic.png", width:'75%')%>  
    </div>

    </div>
</div>
<div class = "pb-15 bg-gray-400">
<%=render 'shared/footer'%>
</div>
  </body>

  