<div>Match Request</div>
<%= link_to accept_match_pet_matches_path(object) do %>
  <button>Accept</button>
<% end %>
<br>
<%= link_to decline_match_pet_matches_path(object) do %>
  <button>Decline</button>
<% end %>