
 <% @pets.each_with_index do |pet| %>
  <% if current_user.pets.find(params[:pet_id]).id != pet.id %>
 <% unless possible_match?(pet) %>
<div class = "relative mx-auto">
    <div class="tphoto rounded-lg absolute top-0 left-0" data-id = "<%=pet.id%>">
    <!-- Slider main container -->
<div data-controller="carousel" class="swiper-container h-96 w-full  bg-white rounded-t-lg  overflow-auto  scrollbar-hide"
data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>

  <!-- Pagination (... or 1/10 or progress bar) -->
  <div class="swiper-pagination"></div>
  <!-- Navigation buttons (< >) -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">

      <% if pet.images? %>
  <% pet.images.each do |img| %>
    <%=image_tag(img.thumb.url, alt: "Image",  :class => "object-fill rounded-lg rounded-b-none swiper-slide") %>
              <% end %>
<% end %>
</div>
 
  
</div>
<div class = "bg-white border rounded-b-lg  rounded-t-none  ">
<div class = "flex-row ">
<div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer text-center float-right">
<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
</svg>
<div>
</div>
</div>
</div>
      <div class="flex justify-between">
        <div class="text-xl float-left ml-2"><%=pet.name%> 
        <span class="font-light ml-5"><%=pet.age%></span>
      </div> 
    </div>
    <span class ="ml-2 text-gray-400">3 km</span>
    <p class = "mt-4" >
    </p>
 </div>
    
    </div>
  </div>
</div>
    <% end %>
        <% end %>
        <% end %>

  

</body>
<br>








