th {
    border: 1px solid white;
    text-align: center;
    padding: 10px
}

td {
    border: 1px solid grey;
    border-radius: 2px;
    background-color: grey;
    text-align: center;
    padding: 10px;
}