<div class = "space-y-3 w-3/5 mx-auto" data-controller ="alert">
<div class = "flex justify-between items-center shadow-xl bg-green-500 text-white text-xl px-1 py-2 border-t-4 border-green-600" data-alert-target = "output">
<%=alert%>
<%=notice%>
<svg xmlns="http://www.w3.org/2000/svg" class="del_alert h-5 w-5 hover:bg-green-400 cursor-pointer" data-action = "click->alert#alert"fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
</svg>
</div>
</div>